$main-font: Recursive, Roboto, "Helvetica Neue", sans-serif;

$light-grey: #c4c4c4;

$pink-color: #f4d6ff;
$pink-color-light: rgba(126, 11, 166, 0.1);
$pink-color-lighter: rgba(126, 11, 166, 0.2);
$pink-color-darken: rgba(126, 11, 166, 0.3);
$pink-color-dark: rgba(126, 11, 166, 1);
