.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .form {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 30px 30px 30px;

    max-width: 25%;
    max-height: 55%;
    width: 100%;
    min-height: 35%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 30px -30px #C4C4C4;
  }
}
