@import "variables";

.auth-title {
  display: flex;
  justify-content: center;

  font-size: 2rem;
  font-weight: lighter;

  margin-top: 15px;
}

.auth-form form {
  .sign-up-inputs {
    display: flex;
    max-width: 100%;
    width: 100%;

    justify-content: space-between;

    .sign-up-input {
      width: 47%;
      height: 40px;

      font-family: $main-font;

      margin-top: 25px;
    }

    .sign-up-input:hover {
      box-shadow: 0 0 20px $pink-color-lighter;
    }

    .sign-up-input::placeholder {
      padding-left: 10px;
      color: #000;
    }
  }

  .form-input {
    width: 100%;
    max-width: 100%;
    height: 40px;

    font-family: $main-font;

    margin-top: 20px;
  }

  .form-input::placeholder {
    padding-left: 10px;
    color: #000;
  }

  .form-input:hover {
    box-shadow: 0 0 20px $pink-color-lighter;
  }

  .avatar-upload {
    display: flex;
    width: 100%;

    margin-top: 20px;

    .avatar-preview {
      width: 130px;
      height: 100px;

      background-color: $pink-color-light;

      border-radius: 50%;

      transition: 0.5s;

      padding-right: 10px;
    }

    .avatar-preview:hover {
      box-shadow: 0 0 5px $pink-color-dark;
      transition: 0.5s;
    }

    .avatar-upload-button {
      width: 100%;
      height: 50%;

      margin-left: 30px;

      button {
        width: 100%;
        height: 35px;

        background-color: $pink-color-lighter;

        border: none;

        font-family: $main-font;
      }

      button:hover {
        background-color: $pink-color-darken;
        border: 1px solid black;
      }

      .avatar-upload-requirements {
        width: 100%;

        font-family: $main-font;
        font-size: 1rem;

        padding-top: 10px;
      }
    }
  }
  .form-submit {
    display: flex;
    width: 100%;

    margin-top: 40px;

    button {
      width: 40%;
      height: 35px;

      font-family: $main-font;

      background-color: $pink-color-lighter;
      border: none;
    }

    button:hover:enabled {
      background-color: $pink-color-darken;
      border: 1px solid black;
    }

    .form-redirect-link {
      display: flex;
      align-items: center;

      font-family: $main-font;
      font-size: 0.8rem;

      padding-left: 15px;

      .redirect-link-text {
        color: $pink-color-dark;
      }

      .redirect-link-text:hover {
        text-shadow: 0 0 1px $pink-color-darken;
      }
    }
  }
}
