@import "variables";

.auth-title {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: lighter;
}

.auth-form form {
  .auth-input {
    width: 100%;
    max-width: 100%;
    height: 45px;
    font-family: $main-font;
    margin-top: 20px;
    box-sizing: border-box;
    padding-left: 15px;
  }

  .name-inputs {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    .name-input {
      width: 49%;
    }
  }

  .auth-input::placeholder {
    color: #000;
  }

  .auth-input:hover {
    box-shadow: 0 0 20px $pink-color-lighter;
    border: 1px solid black;
    border-radius: 2.5px;
  }

  .form-submit {
    display: flex;
    width: 100%;
    margin-top: 40px;
    button {
      width: 50%;
      min-height: 35px;
      font-family: $main-font;

      background-color: $pink-color-lighter;
      border: none;
      font-size: 1.2rem;
    }

    button:hover:enabled {
      background-color: $pink-color-darken;
      border: 1px solid black;
    }

    .form-redirect-link {
      display: flex;
      align-items: center;
      font-family: $main-font;
      font-size: 15px;
      padding-left: 15px;
      .redirect-link-text {
        color: $pink-color-dark;
      }
      .redirect-link-text:hover {
        text-shadow: 0 0 1px $pink-color-darken;
      }
    }
  }
}

@media screen and (max-height: 700px) {
  .auth-title {
    margin-top: 0;
  }
  .auth-form form {
    .auth-input {
      height: 30px;
    }
    .form-submit {
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: 900px) and (min-height: 400px) {
  .auth-title {
    font-size: 1.5rem;
    margin-top: 15px;
  }
  .auth-form form {
    .auth-input {
      height: 30px;
      margin-top: 10px;
    }
  }
}
