<div class="auth-title">
  <span>{{ formFor }}</span>
</div>
<div class="auth-form">
  <form [formGroup]="authForm">
    <div class="name-inputs">
      <input
        *ngIf="formFor === signUpPageName"
        formControlName="fullName"
        class="auth-input name-input"
        placeholder="full name*"
      />
      <input
        *ngIf="formFor === signUpPageName"
        formControlName="displayName"
        class="auth-input name-input"
        placeholder="display name"
      />
    </div>
    <input
      formControlName="email"
      class="auth-input"
      [placeholder]="placeholderEmail"
    />
    <input
      formControlName="password"
      class="auth-input"
      type="password"
      [placeholder]="placeholderPassword"
    />
    <input
      *ngIf="formFor === signUpPageName"
      formControlName="passwordRepeat"
      class="auth-input"
      type="password"
      placeholder="repeat password*"
    />
    <app-avatar-upload
      *ngIf="formFor === signUpPageName"
      (avatarAddingEvent)="authForm.get('avatar')?.setValue($event)"
    ></app-avatar-upload>
    <div class="form-submit">
      <button [disabled]="authForm.invalid" (click)="submit()">
        {{ labels[formFor].btnText }}
      </button>
      <div class="form-redirect-link">
        <span>
          {{ labels[formFor].redirectText }}
          <a class="redirect-link-text" [routerLink]="labels[formFor].redirectLink">
            {{ labels[formFor].redirectBtnText }}
          </a>
        </span>
      </div>
    </div>
  </form>
</div>
