<div class="avatar-upload">
  <div
    class="avatar-preview"
    [style.backgroundColor]="avatarBackground"
    appDnd
    (fileDropped)="onFileSelect($event)"
  >
    <label for="upload">
      <img [src]="fileSrc" *ngIf="fileSrc" [alt]="previewAltText" />
      <input
        id="upload"
        #uploader
        type="file"
        (change)="onFileSelect($event)"
        [accept]="acceptedFileTypes"
        hidden
      />
    </label>
  </div>
  <div class="avatar-upload-button">
    <button (click)="uploader.click()">upload avatar</button>
    <div class="avatar-upload-requirements">
      <div class="requirements-formats">
        {{ supportedFormats }}
      </div>
      <div class="requirements-size">{{ imageSize }}</div>
    </div>
  </div>
</div>
