<div class="avatar-upload">
  <div class="avatar-preview" appDnd (fileDropped)="onFileSelect($event, true)">
    <label for="upload">
      <img [src]="fileSrc" *ngIf="fileSrc" />
      <input
        id="upload"
        #uploader
        type="file"
        (change)="onFileSelect($event, false)"
        [accept]="acceptedFileTypes"
        hidden
      />
    </label>
  </div>
  <div class="avatar-upload-button">
    <button (click)="uploader.click()">upload avatar</button>
    <div class="avatar-upload-requirements">
      <div class="upload-requirements-text">
        {{ supportedFormats }}
      </div>
      <div class="upload-requirements-text">{{ imageSize }}</div>
    </div>
  </div>
</div>
