<div class="avatar-upload">
  <div class="avatar-preview" appDnd (fileDropped)="onDrop($event)">
    <label for="upload">
      <img [src]="fileSrc" *ngIf="fileSrc" />
      <input
        id="upload"
        #uploader
        type="file"
        (change)="onFileSelect($event)"
        [accept]="acceptedFileTypes"
        hidden
      />
    </label>
  </div>
  <div class="avatar-upload-button">
    <button (click)="uploader.click()">upload avatar</button>
    <div class="avatar-upload-requirements">
      <div class="upload-requirements-text">
        Supported formats .jpg, .jpeg, .gif, .png
      </div>
      <div class="upload-requirements-text">Max image size - 700kB</div>
    </div>
  </div>
</div>
