@import "variables.scss";

html,
body {
  width: 100vw;
  height: 100vh;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", monospace;
  background-color: black;
}

.success-snack {
  background-color: $light-green;
  color: #000;
}

.error-snack {
  background-color: $pink-color;
  color: #000;
}
