@import "variables.scss";

html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: black;
}

.error-snack {
  background-color: $pink-color;
  color: #000;
}
