<app-sidebar></app-sidebar>
<div class="dashboard">
  <div class="dashboard-content">
    <div class="head-block">
      <div class="title"><h2>Dashboard</h2></div>
      <div class="create-folder-btn">
        <p>+ Create new folder</p>
      </div>
    </div>
    <div class="folders-list-empty">
      <h3>You haven't any folders yet. Create one!</h3>
    </div>
    <div class="folders-list">
      <div class="folder">
        <div class="folder-name">
          <img src="assets/icons/folder.svg" alt="folder icon" />
          folder.name
        </div>
        <div class="folder-actions">
          <div class="folder-action">
            <img src="assets/icons/download.svg" alt="download icon" />
          </div>
          <div class="folder-action">
            <img src="assets/icons/share.svg" alt="share icon" />
          </div>
          <div class="folder-action">
            <img src="assets/icons/edit.svg" alt="edit icon" />
          </div>
          <div class="folder-action">
            <img src="assets/icons/delete.svg" alt="delete icon" />
          </div>
        </div>
      </div>
    </div>
    <div class="files-block">
      <div class="file-add"></div>
      <div class="files-list"></div>
    </div>
  </div>
</div>
