<div class="auth-title"><h1>Sign in</h1></div>
<div class="auth-inputs">
  <form>
    <mat-form-field class="form-input">
      <input autocomplete="off" matInput type="text" placeholder="Email" />
    </mat-form-field>
    <mat-form-field class="form-input">
      <input autocomplete="off" matInput type="text" placeholder="Password" />
    </mat-form-field>
    <div class="form-submit">
      <button color="primary" mat-raised-button>Sign in</button>
      <div class="form-redirect-link">
        <span
          >Haven't account?
          <a class="redirect-link-text" href="">Sign Up</a>
        </span>
      </div>
    </div>
  </form>
</div>
